*.exe
*.o
*.a
gcc_arm/Makefile
agbcc
agbcc_arm
old_agbcc
*/genattr
*/genattrtab
*/gencheck
*/gencodes
*/genconfig
*/genemit
*/genextract
*/genflags
*/gengenrtl
*/genopinit
*/genoutput
*/genpeep
*/genrecog
*/config.log
gcc_arm/auto-host.h
gcc_arm/config.cache
gcc_arm/config.log
gcc_arm/config.status
gcc_arm/genrtl.c
gcc_arm/genrtl.h
gcc_arm/insn-attr.h
gcc_arm/insn-attrtab.c
gcc_arm/insn-codes.h
gcc_arm/insn-config.h
gcc_arm/insn-emit.c
gcc_arm/insn-extract.c
gcc_arm/insn-flags.h
gcc_arm/insn-opinit.c
gcc_arm/insn-output.c
gcc_arm/insn-peep.c
gcc_arm/insn-recog.c
gcc_arm/s-attr
gcc_arm/s-attrtab
gcc_arm/s-check
gcc_arm/s-codes
gcc_arm/s-config
gcc_arm/s-emit
gcc_arm/s-extract
gcc_arm/s-flags
gcc_arm/s-genrtl
gcc_arm/s-opinit
gcc_arm/s-output
gcc_arm/s-peep
gcc_arm/s-recog
gcc_arm/tree-check.h

