*.exe
*.o
*.a
agbcc
old_agbcc
*.lo

gcc/genattr
gcc/genattrtab
gcc/gencheck
gcc/gencodes
gcc/genconfig
gcc/genemit
gcc/genextract
gcc/genflags
gcc/gengenrtl
gcc/genopinit
gcc/genoutput
gcc/genpeep
gcc/genrecog

*.status
*.log
*.cache
binutils/objcopy
binutils/objdump
binutils/ar
binutils/ranlib
gas/as-new
ld/ld-new
ld/ldscripts/*

.idea/
