.d/*
genrtl.c
genrtl.h
insn-attr.h
insn-attrtab.c
insn-codes.h
insn-config.h
insn-emit.c
insn-extract.c
insn-flags.h
insn-opinit.c
insn-output.c
insn-peep.c
insn-recog.c
tree-check.h
s-attr
s-attrtab
s-check
s-codes
s-config
s-emit
s-extract
s-flags
s-genrtl
s-opinit
s-output
s-peep
s-recog
